$itemMargin: 20px;
$itemWidth: 200px;

.Admin {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 20px auto;

    .Search {
        width: 600px;
    }

    input {
        padding: 10px 5px;
        border-radius: 5px;
        border: none;
        outline: none;
        transition: all 0.3s;
    }

    .Items {
        display: flex;
        flex-wrap: wrap;
        margin: 25px auto;
        justify-content: flex-start;
        width: calc($itemMargin * 10 + $itemWidth * 5);

        div {
            position: relative;
            border-radius: 20px;
            width: 200px;
            height: 200px;
            margin: 20px;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                object-fit: cover;
                filter: brightness(50%);
                z-index: 0;
            }

            h1 {
                position: relative;
                font-size: 16px;
                color: #fff;
                z-index: 1;
                text-align: center;
                padding: 0 25px;
            }

            .Delete {
                position: absolute;
                bottom: 10px;
                right: 10px;
                z-index: 2;
                cursor: pointer;
                transition: all 0.2s;

                svg {
                    transition: all 0.2s;
                    color: #fff;
                }

                &:hover {
                    svg {
                        color: rgb(112, 34, 34);
                    }
                }

                &:active {
                    transform: scale(1.1);
                }
            }

            .Edit {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 2;
                cursor: pointer;
                transition: all 0.2s;

                svg {
                    transition: all 0.2s;
                    color: #fff;
                }

                &:hover {
                    svg {
                        color: rgb(187, 132, 236);
                    }
                }

                &:active {
                    transform: scale(1.1);
                }
            }
        }
    }

    .Form {
        margin-top: 100px;
        text-align: center;

        h2 {
            text-align: center;
            color: black;
        }

        .AddButton {
            text-align: center;
            background-color: rgb(180, 123, 249);
            border: none;
            outline: none;
            padding: 15px 30px;
            border-radius: 10px;
            color: #fff;
        }
    }
}
