.Auth{
    max-width: 300px;
    display: flex;
    margin: 40px auto;
    flex-flow: column;
    
    .Form {
        display: flex;
        flex-flow: column;
        
        h1{
            text-align: center;
            font-size: 28px;
            color: #2B6B73;
        }

        img{
            width: 250px;
            margin: 20px auto 10px auto;
            cursor: pointer;
        }

        label{
            font-size: 16px;
            margin-bottom: 8px;
        }

        input{
            background: #FFFFFF;
            border: 2px solid #E0E0E0;
            border-radius: 17.5px;
            padding: 10px;
            margin-bottom: 18px;
        }

        .SignUpBtn{
            background: #2B6B73;
            border-radius: 25px;
            width: 150px;
            height: 45px;
            border: 0;
            margin: 10px auto;
            color: #FFFFFF;
        }
    }

    .Splitter {
        display: flex;
        align-items: center;
        p{
            color: #696969;
        }
        hr{
            width: 120px;
            height: 0px;
            color: #E0E0E0;
            background-color: #E0E0E0;
            border: 2px solid #b6b6b6;
        }
        label{
            font-size: 16px;
            color: #9E9E9E;
            margin-left: 5px;
        }
    }

    .AdditionalButtons {
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin: 5px auto;

        button {
            margin-top: 10px;
            padding: 15px;
            font-size: 15px;
            height: 50px;
        }
    }
}